  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    height: 9vh;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .item {
    margin: 0vh 3vh 1vh 3vh;
  }

  .givecoin_logo {
    height: 5vh;
  }

  .view_sponsor {
    font-family: "Leelawadee UI";
    font-size: 3vh;
    letter-spacing: -5%;
  }

  .search_box {
    background-color: #F2F2F2;
    height: 5.5vh;
    width: 65vh;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }

  .search_text {
    font-family: "nunito";
    font-size: 3vh;
    color: #B4B4B4;
    padding-left: 5vh;
  }

  .vertical_line {
    width: 0.2vh;
    background-color: #B4B4B4;
    height: 3.5vh;
    margin-left: 40vh;
    margin-top: 0.6vh;
  }

  .search_button {
    margin-top: 1.5vh;
    height: 4vh;
    width: 4vh;
  }

  .alarm_button {
    margin-top: 2.5vh;
    margin-left: 5vh;
    height: 4.5vh;
  }

  .mypage_logo {
    height: 5vh;
  }
