.change_password_input_box {
    border: 1px solid #9E9E9E;
    background-color: white;
    padding: 0.5vh 1vw;
    width: 23vw;
    height: 7vh;
    margin-left: 1vw;
  }

  .ChangePasswordNotice {
      font-size: 0.7em;
      color : #414141;
  }

  .TopNotice {
    margin: 0 4.3vw 5vh 0;
  }

  .BottomNotice {
    margin: 0 10vw 5vh 0;
  }

  .ChangePasswordBox {
    height: 70vh;
    margin: 2vh 0 10vh 0;
    padding: 10vh 20vw 8vh 5vh;
    text-align: right;
  }

.ChangeButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10vh;
}

  .CancleButton {
        box-shadow: 0 0.4vh 0.4vh rgba(0,0,0,0.25);
        background-color: #AEAEAE;
        color: white;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        width: 5vw;
        height: 5.5vh;
        padding-top: 1vh;
  }

  .ChangeButton {
    box-shadow: 0 0.4vh 0.4vh rgba(0,0,0,0.25);
    background-color: #30558A;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    width: 8vw;
    height: 5.5vh;
    padding-top: 1vh;
    margin-left: 1vw;
  }

  .ChangeItems {
      margin-bottom: 1.3vh;
  }