*{
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 15vw;
}

.box {
  box-shadow: 0 0.4vh 0.4vh rgba(0,0,0,0.25);
  padding: 3vh 10vw;
  text-align: left;
  width: 70vw;
  background-color: white;
}

.items {
  margin-bottom: 2vh;
}

.stay_logged_in_item {
  margin-right: 14.5vw;
}

.title_box {
  height: 18vh;
  margin-top: 5vh;
}

.login_box {
  height: 60vh;
  margin-top: 2vh;
  padding: 8vh 20vw 8vh 5vh;
  text-align: right;
}

.login_input_box {
  border: 1px solid #9E9E9E;
  background-color: #EEF5FF;
  padding: 0.1vh 1vw;
  width: 25vw;
  height: 6vh;
  margin-left: 1vw;
}

.span_star {
  font-weight: bold;
  font-size: 21px;
  color: #FF6534;
}

.span_title {
  font-weight: bold;
  font-size: 30px;
  color: #464646;
}

.span_sub_title {
  font-weight: bold;
  font-size: 15px;
  color: #727272;
}

.check_box {
  background-color: white;
  width: 1vw;
  height: 2vh;
  border: 1px solid #757575;
  display: inline-block;
}

.stay_logged_in {
  font-size: 15px;
  color: #757575;
  margin-left: 0.7vw;
}

.login_button {
  box-shadow: 0 0.4vh 0.4vh rgba(0,0,0,0.25);
  background-color: #30558A;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 25vw;
  height: 7vh;
  padding-top: 1vh;
  margin-left: 22.5vw;
  margin-top: 6vh;
}

.find_sign_up_item {
  margin-right: 4.5vw;
}

.find_sign_up {
  font-weight: bold;
  font-size: 15px;
  color: #30558A;
}

.line {
  display: inline-block;
  width: 0.2vh;
  background-color: #b4b4b4;
  height: 3.5vh;
  margin: 1vh 2vh 0 2vh;
}
