.sign_up_box {
  display: flex;
  height: 120vh;
  margin-top: 2vh;
  padding: 8vh 20vw 8vh 5vh;
  justify-content: flex-end;
}
.BoxInBox {
  display: flex;
  flex-wrap: nowrap;
}
.Star {
  color: #ff6534;
  margin: 10px 0;
}
.SignupTitle {
  font-size: 21px;
  margin: 10px;
}
.PurposeBox {
  width: 190px;
  height: 220px;
  box-shadow: 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
  margin: 10px;
  text-align: center;
}
.PurposeText {
  margin: 10px 0;
  font-size: 13px;
  font-weight: bold;
}
.UserImg {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.UserType {
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px #b4b4b4;
  margin: 0 15px 0 15px;
  padding: 0 0 10px 0;
}
.SubPurpose {
  font-size: 10px;
  color: #757575;
  margin: 10px 0;
}
