.sign_up_box {
  display: flex;
  flex-direction: column;
  height: 120vh;
  margin-top: 2vh;
  justify-content : right;
  text-align: right;
}
.BoxInBox {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0 0 3vw;
}
.Star {
  color: #ff6534;
  margin: 10px 0;
}
.SignupTitle {
  font-size: 1.1em;
  margin: 10px;
}
.PurposeBox {
  width: 190px;
  height: 220px;
  box-shadow: 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
  margin: 10px;
  text-align: center;
}
.PurposeText {
  margin: 10px 0;
  font-size: 13px;
  font-weight: bold;
}
.UserImg {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.UserType {
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px #b4b4b4;
  margin: 0 15px 0 15px;
  padding: 0 0 10px 0;
}
.SubPurpose {
  font-size: 10px;
  color: #757575;
  margin: 10px 0;
}

.notice {
  font-size: 0.7em;
  margin-right: 16vw;
}

.SignUpList {
  display: flex;
  flex-direction: column;
  margin : 4vh 3.2vw 4vh 5vw;
}

.SignUpListItems {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1.5vh;
}

.sign_up_input_box {
  border: 1px solid #9E9E9E;
  background-color: white;
  padding: 0.1vh 1vw;
  width: 31.6vw;
  height: 6vh;
  margin-left: 1vw;
}