.container{
    margin-top : 70px;
}

  .chargingButton {
      box-shadow: 0 0.4px 0.4px rgba(0,0,0,0.25);
      background-color: #F5D216;
      color: #414141;
      font-weight: bolder;
      font-size: 20px;
      text-align: center;
      width: 360px;
      height: 48px;
      padding-top: 10px;
      margin-top: 30px;
      margin-left: 280px;
  }

  .coinHad {
      margin-left: 220px;
      margin-right: 170px;
  }

.coinToCharge {
    margin-left: 200px;
}
.charge_button{
    box-shadow: 0 0.4px 0.4px rgba(0,0,0,0.25);
    background-color: #F5D216;
    color: #414141;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    width: 350px;
    height: 50px;
    padding-top: 15px;
    margin-top: 60px;
    margin-left: 294px;
}
.coinView{
    font-size : 18px;
    font-weight: bold;
    margin: -10px 100px;
}
