.completionMsg {
    font-weight: bold;
    font-size: 3em;
    color: #464646;
    text-shadow: 0 5px 5px rgba(0,0,0,0.25);
    margin: 10px 0;
}

.donatedCoin {
    color: #F5D216;
    font-size: 1.2em;
}

.remainingCoin {
    color: #757575;
    font-size: 1.2em;
    font-weight: bold;
    margin-top : 10px;
    margin-bottom : 10px;
}

.completionMsgBox {
    text-align: center;
}

.sponsoredButton {
    box-shadow: 0 0.4px 0.4px rgba(0,0,0,0.25);
    background-color: #F5D216;
    color: #414141;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    width: 360px;
    height: 48px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 280px;
  }