* {
  font-family: "Leelawadee UI";
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0 15vw;
  background-color: white;
}

.givecoin_logo {
  height: 33px;
}

.view_sponsor {
  font-size: 1.3em;
  min-width: 173px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.search_input_box {
  display: flex;
  background-color: #f2f2f2;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  padding: 0.5vh 1vw;
  font-family: "nunito";
  border: none;
  width: 30vw;
  height: 7vh;
}

.search_box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

.SearchButton {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  right: 1vw;
  top: 1.8vh;
  height: 4vh;
}
.vertical_line {
  width: 0.1vw;
  background-color: #b4b4b4;
  height: 5vh;
  position: absolute;
  right: 4.4vw;
  top: 1.5vh;
}

.search_button {
  height: 38px;
  width: 75px;
  padding: 0 20px;
}
.logo {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}
.alarm_button {
  width: 2.5vw;
  margin: 2vh 1.5vw 0 0;
}

.mypage_logo {
  width: 3vw;
  margin: 2vh 0 1vw 0;
}
